/*=========================
        Lnading Page
===========================*/

/*=========================
        END of Lnading Page
===========================*/


/*=========================
        Profile Page
===========================*/
.profile-info {
    background: #fff;
    padding: 0 7px 5px 7px;
    position: absolute;
    bottom: -97px;
    left: -90px;
    z-index: 5;
}

.company-card {
    border: 1px solid #eeeeef;
    padding: 5px;
    margin: 5px;
}

.shadow {
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.1);
}

    .shadow:hover {
        box-shadow: 2px 2px 6px 5px rgba(0, 0, 0, 0.1);
    }

.card .ico-notification {
    position: absolute;
    background: #f0696a;
    border-radius: 50%;
}

.ico-notification {
    width: 30px;
    height: 22px;
    top: 6%;
    right: 5%;
    color: #fff;
    position: absolute;
    text-align: center;
}
/*=========================
    END of Profile Page
===========================*/


/*=========================
        My Store Page
===========================*/
.prod-card {
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #eeeeef;
    padding: 5px;
    transition: 0.1s;
}
    .prod-card:hover {
        box-shadow: 3px 3px 6px 5px rgba(0, 0, 0, 0.1);
    }
/*=========================
    END of My Store Page
===========================*/


/*=========================
    My Restaurant Page
===========================*/

/*=========================
    END of My Restaurant Page
===========================*/


/*=========================
        Product Page
===========================*/

/*=========================
    END of Product Page
===========================*/



/*=========================
    Search Results Page
===========================*/
.btn-dropdown {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    min-width: 220px;
    display: none;
    position: absolute;
    background-color: #fff;
    right: 0;
    top: 40px;
    border: 1px solid #c4c4c4;
    z-index: 10000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
    .dropdown-content a {
        padding: 14px 20px;
        text-decoration: none;
        display: block;
    }

.dropdown .btn-dropdown {
    background-color: #3e8e41;
}
/*=========================
    END of Search Results Page
===========================*/







